/* Esconder Lupa e Barra de Pesquisa */

/* Botão da Lupa na Sidebar (Desktop) */
#search-trigger {
  display: none !important;
}

/* Barra de Pesquisa (Mobile) */
#search-wrapper {
  display: none !important;
}

/* Contentor de resultados (Prevenção) */
#search-result-wrapper {
  display: none !important;
}
